body{
    color: white;
    background-color: rgb(4, 116, 88);
}
nav{
    position: relative;
    background-color: rgb(63,255,0);
    background: radial-gradient(circle, rgba(63,255,0,1) 0%, rgba(0,0,0,1) 100%);
    margin: 3% 0 0 4%;
    width: 15%;
    height: 10em;
    border-radius: 10% 10%;
}

ul{
    list-style-type: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100%;
}

li{
    margin: 5%;
}

a:link{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:visited{
    color: white;
}

a:hover{
    color: rgb(163, 207, 163);
    text-shadow: 0 0 3px #1eff00, 0 0 3px #000000;
    
}

a:active{
    color: rgb(0, 243, 0);
    text-shadow: 0 0 3px #1eff00, 0 0 3px #000000;
}


#nome, #sobre{
    color: green;
    font-family: 'Times New Roman', Times, serif;
}