html {
	font-size: calc(15px + 0.390625vw);
}
body {
	color: white;
	background: linear-gradient(
		270deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(4, 116, 88, 1) 45%,
		rgba(0, 0, 0, 1) 100%
	);
}
nav {
	/* background-color: black; */
	width: 100%;
	/* background-color: red; */
	padding: 0% 0%;
}

#menu-superior {
	/* background: linear-gradient(270deg, rgb(29, 167, 75) 0%, rgba(30,110,4,1) 45%, rgba(11, 255, 92) 100%); */
    margin-left: 2%;
}

#menu-superior li {
	/* border-bottom: dashed rgb(255, 255,255); */
	border-bottom: dashed rgb(0, 0, 0);
	display: inline-block;
	border-radius: 50% 20%;
	margin-right: 2%;
	padding: 1% 2% 1% 2%;
	background: linear-gradient(
		270deg,
		rgb(0, 48, 16) 0%,
		rgba(4, 116, 88, 1) 45%,
		rgba(0, 48, 16) 100%
	);
	list-style-type: none;
}

#menu-superior a:link {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#menu-superior a:visited {
	color: white;
}

#menu-superior a:hover {
	color: rgb(163, 207, 163);
	text-shadow: 0 0 3px #1eff00, 0 0 3px #000000;
}

#menu-superior a:active {
	color: rgb(0, 243, 0);
	text-shadow: 0 0 3px #1eff00, 0 0 3px #000000;
}

section {
	/* background-color: red; */
	width: 100%;
}


#principal-superior ul {
	display: inline-block;
}
aside {
	background-color: #1eff00;
	width: 30%;
}

#nome,
#sobre {
	color: rgb(169, 253, 172);
	font-family: "Bricolage Grotesque", sans-serif;
	/* font-family: "Times New Roman", Times, serif; */
}

#nome{
    margin: 1% 3%;
}

#principal-superior{
    margin: 1% 3%;
    display: inline-block;
    /* background-color: antiquewhite; */
    width: 100%;
}

#perfil{
    width:10%;
}

#principal-superior h2{
    position: absolute;
    display: inline;
    margin: 1% 3%;
}

#principal-inferior{
    display: inline-block;
}
