html {
	font-size: calc(15px + 0.390625vw);
}
body {
	color: white;
	background: linear-gradient(
		270deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(4, 116, 88, 1) 45%,
		rgba(0, 0, 0, 1) 100%
	);
}

header{
	width: 100%;
	/* background-color: aliceblue; */
}

header h1{
	margin-left: 5%;
}

nav {
	width: 100%;
	/* background-color: blue; */
}

#menu-superior {
	margin-left: 2%;
	/* o padding-left do primeiro li possui 2% +~1% de retirada por border-radius, alinhando em 5%*/
	/* background-color: aqua; */
}

#menu-superior li {
	border-bottom: dashed rgb(0, 0, 0);
	display: inline-block;
	border-radius: 50% 20%;
	margin-right: 2%;
	padding: 1% 2% 1% 2%;
	background: linear-gradient(
		270deg,
		rgb(0, 48, 16) 0%,
		rgba(4, 116, 88, 1) 45%,
		rgba(0, 48, 16) 100%
	);
	list-style-type: none;
}

#menu-superior a:link {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#menu-superior a:visited {
	color: white;
}

#menu-superior a:hover {
	color: rgb(169, 253, 172);
	text-shadow: 0 0 3px rgb(30, 110, 4), 0 0 3px #000000;
}

#menu-superior a:active {
	color: rgb(0, 243, 0);
	text-shadow: 0 0 3px rgb(169, 253, 172), 0 0 3px #000000;
}

section {
	/* background-color: yellow; */
	width: 100%;
	/* background-color: aqua; */
}

#principal-superior {
	/* background-color: red; */
	margin: 1% 0%;
	display: inline-block;
	width: 100%;
}

#foto-perfil {
	margin-left: 5%;
	width: 25%;
	display: inline-block;
}

#principal-superior .texto{
	margin-left: 2%;
	/* background-color: rgb(255, 255, 255); */
	color: rgb(255, 255, 255);
	/* color: rgb(30, 110, 4); */
	position: absolute;
	display: inline-block;
	width: 50%;
	/* white-space: nowrap; */
}



#nome,
#sobre {
	color: rgb(169, 253, 172);
	font-family: "Bricolage Grotesque", sans-serif;
	/* font-family: "Times New Roman", Times, serif; */
}

#principal-inferior {
	width: 90%;
	display: inline-block;
}

#principal-inferior a:link {
	/* color: white; */
	font-weight: bold;
	text-decoration: none;
}

#principal-inferior a:visited {
	color: rgb(0, 243, 0);
}

#principal-inferior a:hover {
	color: rgb(169, 253, 172);
	text-shadow: 0 0 3px rgb(30, 110, 4), 0 0 3px #000000;
	text-decoration: underline;
}

#principal-inferior a:active {
	color: rgb(0, 243, 0);
	text-shadow: 0 0 3px rgb(169, 253, 172), 0 0 3px #000000;
}


aside {
	background-color: red;
	width: 30%;
}
