.paleta1 {
	/* color: rgba(0, 48, 16, 1); Verde escuro normal */
	color: rgba(0, 48, 16, 1);
}
.paleta2 {
	/* color: rgba(4, 116, 88, 1); Verde legal indo pro azul, não tão pika quanto verde-água (/turquesa), mas evita brilho tão forte. --PRINCIPAL */
	color: rgba(4, 116, 88, 1);
}
.paleta3 {
	/* color: rgba(30, 110, 4, 1); Verde normal escolhido */
	color: rgba(30, 110, 4, 1);
}
.paleta4 {
	/* color: rgba(169, 253, 172, 1); Verde clarinho */
	color: rgba(169, 253, 172, 1);
}
.paleta5 {
	/* color: rgba(239, 241, 197, 1); Verde praticamente branco */
	color: rgba(239, 241, 197, 1);
}
/* Paleta: 
*/


body {
	color: white;
	background: linear-gradient(
		270deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(4, 116, 88, 1) 45%,
		rgba(0, 0, 0, 1) 100%
		);
		font-family: "Bricolage Grotesque", sans-serif;
		font-weight: bold;
		text-shadow: 2px 2px black, 2px 2px black;
}

header {
	font-size: 3em;
	text-align: center;
	margin: 0 0 3% 0;
}

header span:first-of-type{
	width: 100%;
	display: block;
}
header span:first-of-type{
	width: 100%;
	display: block;
	border-right: 4px solid;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 2s;
}
@keyframes typing {
	from	{
		width: 0;
	}
}
@keyframes blinking {
	50%	{
		border-color: transparent;
	}
}



header span:not(:nth-of-type(1)) {
	font-size: 0.4em;
	display: inline-block;
	border-bottom: dotted  2px rgb(169, 253, 172);
}
.left {
	/* background-color: antiquewhite; */
	float: left;
}
.right{
	/* background-color: antiquewhite; */
	float: right;
}

nav {
	/* background-color: yellow; */
	display: inline-block;
	width: 100%;
}


nav ul {
	text-align: center;
	list-style: none;
	padding: 2% 0 2% 0;
	background: linear-gradient(
		270deg,
		rgba(0, 0, 0, 1) 0%,
		rgb(169, 253, 172) 50%,
		rgba(0, 0, 0, 1) 100%
		);
	}
	
nav ul li {
	font-family: "Bricolage Grotesque", sans-serif;
	font-size: 2em;
	display: inline-block;
	margin: 0 5% 0 0;
	font-style: bold;
	text-shadow: 2px 2px 6px rgb(0, 0, 0), 2px 2px 6px #000000;
	position: sticky;
}

nav a{
	text-decoration: none;
}

a:hover{
	color: rgba(9, 255, 0, 0.623);
	/* text-shadow: 5px 5px 6px rgb(0, 0, 0), 2px 2px 6px #000000; */
	text-shadow: 2px 1px 2px black;
	
}

a:active{
	color: rgba(30, 110, 4, 1);
}

nav a:visited{
	text-decoration: none;
}

article{
	margin-left: 2%;
	background: linear-gradient()
}
#perfil{
	width: 20%;
}