:root {
	/* --modn: max(
  max(var(--num) - 0, 0) * (0 - max(-1, ((min(var(--num) - n, 0)) * max(var(--num) - 0, 0)))),
  max(var(--num) - n, 0) * (0 - max(-1, ((min(var(--num) - 2*n, 0)) * max(var(--num) - n, 0)))),
  max(var(--num) - 2*n, 0) * (0 - max(-1, ((min(var(--num) - 3*n, 0)) * max(var(--num) - 2*n, 0)))),
  max(var(--num) - 3*n, 0) * (0 - max(-1, ((min(var(--num) - 4*n, 0)) * max(var(--num) - 3*n, 0)))),
  ...
  max(var(--num) - (n-2)*n, 0) * (0 - max(-1, ((min(var(--num) - (n-1)*n, 0)) * max(var(--num) - (n-2)*n, 0))))
  max(var(--num) - (n-1)*n, 0) * (0 - max(-1, ((min(var(--num) - n*n, 0)) * max(var(--num) - (n-1)*n, 0))))
 ); */

	/* BASE
	color: rgb(9,255,0) */

	/* --red: 9;
	--green: 255;
	--blue: 0;

	--paleta1: rgb(var(--red), var(--green), var(--blue));
	--paleta2: rgb(var(--modn, calc(var(--red) - 5), 255), var(--modn, calc(var(--green) - 139), 255), calc(var(--blue) + 88));
	--paleta3: rgb(calc(var(--red) + 21), calc(var(--green) - 145), calc(var(--blue) + 4));
	--paleta4: rgb(calc(var(--red) + 160), calc(var(--green) - 2), calc(var(--blue) + 172)); */
	/* Tentando colocar o módulo de 255 no argumento de soma para que abaixo de 0 e acima de 255 não fique fixado em uma cor. Assim poderei alterar o tema do git escolhendo só a cor base 
*/

	--paleta1: rgb(9, 255, 0);
	--paleta2: rgb(4, 116, 88);
	--paleta3: rgb(30, 110, 4);
	--paleta4: rgb(169, 253, 172);

	--paleta2g: linear-gradient(
		270deg,
		rgba(0, 5, 0, 1) 0%,
		var(--paleta2) 45%,
		rgba(0, 5, 0, 1) 100%
	);
	--black: rgba(0, 0, 0, 0.4);
	--black2: rgba(0, 0, 0, 0.9);

	/* TESTE HSL */
	/* --paleta1: hsl(118, 100%, 50%); */
}

html {
	scroll-behavior: smooth;
	animation: move 1.5s;
}

b {
	color: var(--paleta1);
}

body {
	color: white;
	background: linear-gradient(
		270deg,
		rgba(0, 5, 0, 1) 0%,
		var(--black2) 45%,
		rgba(0, 5, 0, 1) 100%
	);
	font-family: "Bricolage Grotesque", sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px black;
}

header {
	font-size: 3em;
	text-align: center;
	margin: 0 0 3% 0;
	color: var(--paleta4);
}

#envolve{
	color: white;
	animation: esconde 5s, aparece 2s 5s;
}
header span:first-of-type {
	width: 100%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	animation: esconde 2s, digita 2s steps(100) 2s;
	opacity: 1;
	
}
@keyframes esconde{
	from{
		opacity: 0;
	}
	to{
		opacity: 0;
	}
}

@keyframes aparece{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes digita {
	0% {
		border-right: 4px solid;
		width: 0;
	}
	100% {
		border-right: 4px solid;
		width: 100%;
	}
}
@keyframes apaga-esq {
	from {
		border-right: 4px solid;
		
		width: 100%;
	}
	to {
		border-right: 4px solid;
		width: 4%;
	}
}
@keyframes apaga-dir {
	from {
		border-left: 4px solid;
		width: 100%;
	}
	to {
		border-left: 4px solid;
		width: 8%;
	}
}

@keyframes rotate {
	0% {
	  transform: rotate(0);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  @keyframes move {
	
	20% {
		transform: translateY(100px) translateX(0);
	}
	
	40% {
		transform: translateY(0) translateX(150px);
	}

	60% {
		transform: translateY(300px) translateX(250px);
	}
	70% {
		transform: translateY(100px) translateX(50px);
	}
	80% {
		transform: translateY(-400px) translateX(-1000px);
	}	
	100% {
		transform: translateY(0) translateX(0);
	}
	
}


header span:not(:nth-of-type(1)) {
	font-size: 0.4em;
	display: inline-block;
	border-bottom: dotted 2px var(--paleta4);
}
header .left {
	animation: apaga-esq 2s steps(100);
	float: left;
}
header .right {
	animation: apaga-dir 2s steps(100);
}

.right{
	float: right;
}



nav {
	text-align: center;
	background: var(--paleta2g);
	margin-top: 1%;
	padding: 1% 0;
	/* tem display aq tb p evitar juntar com o header qd diminui a tela */
	display: inline-block;
	width: 100%;
	position: sticky;
	top: 0;
	animation: esconde 2s, move-nav 3s 2s;
}

@keyframes move-nav {
	
	from {
		transform: translateY(-600px) translateX(3000px);
	}
	to{
		transform: translateY(0) translateX(0);
	}
}

nav ul li {
	
	font-family: "Bricolage Grotesque", sans-serif;
	font-size: 2em;
	font-style: bold;
	text-shadow: 2px 2px 6px rgb(0, 0, 0), 2px 2px 6px #000000;
	list-style: none;
	margin: 0 5% 0 0;
	display: inline-block;
	text-decoration: wavy underline;
	text-decoration-color: var(--paleta2);
}

nav a {
	text-decoration: none;
	color: white;
}

#barra {
	background-color: #000000;
}
a:hover {
	color: var(--paleta1);
	text-shadow: 2px 1px 2px black;
}

a:active {
	color: var(--paleta3);
}

a:visited {
	text-decoration: none;
}

main{
	animation: esconde 2s, rotate 1s 2s;
}
article {
	padding-top: 1%;
	width: 60%;
	margin: 2%;
	display: inline-block;
	
}
#foto {
	width: 25%;
	border-radius: 10px 100px / 120px;
	padding: 1% 0% 1% 0%;
	background-color: var(--paleta2);
}

#sobre {
	font-size: 2.5em;
	word-break: normal;
	margin-left: 2%;
	margin-right: 2%;
	width: 70%;
	float: right;
}
aside {
	word-break: break-all;
	margin-right: 5%;
	width: 30%;
	padding-top: 1%;
	padding-bottom: 2%;
	word-break: normal;
	text-align: center;
}
#tcc {
	width: 100%;
	height: 27em;
}

.container {
	margin-bottom: 3%;
	padding: 5%;
	width: 90%;
	border-radius: 10px 100px / 120px;
	background: var(--paleta2g);
	/* display: flex; */
	/* justify-content: center;   */
}

#hard-skills h2 {
	text-align: center;
	font-size: 2.5em;
	color: var(--paleta1);
}

#hard-skills .container {
	padding: 1% 5% 5% 5%;
}

#hard-skills span {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0 2% 2% 0;
	white-space: nowrap;
}
.span1 {
	font-size: 2em;
	color: var(--paleta4);
}

.span2 {
	font-size: 1.2em;
	
}
